@import "../../styles/global.scss";

.message__vacancies {
  @include displayFlex(row, center, center);
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-height: 800;

  &__header {
    @include displayFlex(row, space-between, center);
    @include font(1.5em, $font-color-primary, 600);
    border-bottom: 1px solid $primary-color;
  }

  &__section {
    @include displayFlex(column, space-evenly, center);

    &__message {
      @include font(1em, $font-color-primary, 600);
      margin-bottom: 10px;

      &__span {
        @include font(1em, $secondary-color, 600);
      }
    }

    &__avatar {
      @include displayFlex(row, space-around, center);
      margin-top: 20px;
      width: 100%;
    }

    &__text {
      width: 90%;
      height: 300px;
      margin-bottom: 20px;
    }
  }
}
