@import "../../styles/global.scss";

.card__article {
  margin: 10px;
  padding: 6px 10px;
  width: 260px;
  height: 175px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background: $light-color;
}
