@import "../../styles/global.scss";

.carousel__block {
  max-width: 1000px;
}

.carousel__title {
  padding: 10px 30px;
  width: 100%;
  @include font(1em, $font-color-primary, 600);
}

.carousel {
  @include displayGrid(grid, 1fr 1fr 1fr, 20px, center, center);
  width: 100%;
}
