@import "../../styles/global.scss";

.footer {
  @include displayFlex(row, space-between, center);
  padding: 0 30px;
  width: 100%;
  height: 70px;
  color: $light-color;
  background-color: $primary-color;

  h1 {
    margin: 0;
    @include font(0.7em, $light-color, 500);
  }

  .header__line {
    position: absolute;
    left: 0;
    margin-bottom: 80px;
    background: $secondary-color;
    width: 100%;
    height: 10px;
    opacity: 0.8;
  }
}
