@import "../../styles/global.scss";

.search {
  @include displayFlex(column, space-evenly, flex-start);
  padding: 0 30px;
  height: 120px;
  width: 100%;
  background-color: $primary-color;
  color: $light-color;

  &__content {
    @include displayFlex(row, space-around, center);
    width: 100%;
  }
}
